/*Apply a box layout model to all elements while still allowing components to change. */
* {
  box-sizing: border-box;
}

body {
  background-color: rgb(46, 45, 45);
}

.title {
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.grid {
  display: flex;
  flex: 0 1 50px;
  border: solid 1px aliceblue;
  width: 50px;
  height: 50px;
  margin: 2px;
}

.grid:hover {
  transform: scale(1.1);
}
