/*Apply a box layout model to all elements while still allowing components to change. */
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(46, 45, 45);
}

.title {
  color: aliceblue;
}

.container {
  border: solid 1px aliceblue;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  min-width: none;
  overflow: hidden;
}

.grid {
  display: flex;
  flex: 1 0 auto;
  border: solid 1px aliceblue;
}

.grid:hover {
  transform: scale(1.1);
}

.trail {
  background-color: aliceblue;
}

.grid-button {
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 10px;
}
