/*Apply a box layout model to all elements while still allowing components to change. */
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(48, 47, 47);
}

.title {
  font-family: "Bebas Neue", "cursive";
  font-size: 50px;
  color: aliceblue;
  animation: slide-left 0.4s;
  margin: 0px;
}

.subtitle {
  font-family: "roboto", sans-serif;
  font-size: 20px;
  color: aliceblue;
  animation: slide-left 0.4s;
}

.container {
  background-color: rgb(170, 170, 170);
  border: groove 5px #3882f6;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  min-width: none;
  overflow: hidden;
  cursor: crosshair;
  animation: slide-left 0.6s;
}

@keyframes slide-left {
  from {
    margin-left: 200px;
    opacity: 0;
  }
  to {
    margin-left: 0px;
    opacity: 1;
  }
}

.shake {
  animation: shake 0.7s;
}

@keyframes shake {
  0% {
    margin-left: 120px;
  }

  25% {
    margin-right: 120px;
  }
}

.grid {
  display: flex;
  flex: 1 0 auto;
  border: solid 1px aliceblue;
}

.grid:hover {
  transform: scale(1.1);
}

.trail {
  background-color: aliceblue;
}

.trail:hover {
  box-shadow: 0 0 1rem #3882f6;
}

.rgb-trail:hover {
  box-shadow: 0 0 1rem #fffb00;
}

button {
  font-family: "roboto", sans-serif;
  font-weight: bold;
  background-color: #3882f6;
  border: solid 1px;
  color: #f9faf8;
  padding: 5px;
  border-radius: 10px;
  animation: slide-left 0.8s;
}

button:hover {
  background: #f9faf8;
  color: #3882f6;
  transform: scale(1.1);
  transition: 0.2s;
}

.erase {
  margin-top: 15px;
}

.slider {
  margin-top: 15px;
  width: 200px;
  transition: opacity 0.5s;
  fill: #3882f6;
  cursor: grab;
}

.value {
  color: #f9faf8;
  font-size: 20px;
}
